---
import { FRIENDS, SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import FriendCard from "@components/FriendCard.astro";
import type { map } from "astro/zod";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${"Friends"} | ${SITE.title}`}>
  <Header activeNav="friends" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="friends" class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">友链</h1>
      <div class="flex justify-start items-end flex-wrap">
        {
          FRIENDS.map(friend => {
            return (
              <FriendCard
                blogURL={friend.blogURL}
                avatarURL={friend.avatarURL}
                title={friend.title}
                description={friend.description}
              />
            );
          })
        }
      </div>
    </section>
  </main>
  <Footer />
</Layout>
